@model CategoryViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-controller="Admin" asp-action="AddCategory" method="post" enctype="multipart/form-data">
            <div class="row form-group">
                <div class="col">
                    <label asp-for="Name" class="control-label"></label>
                    <input type="text" required class="form-control" asp-for="Name" placeholder="Title">
                </div>
            </div>

            <div class="row form-group">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Добави</button>
                </div>
            </div>
        </form>
    </div>
</div>